<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CatBomb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,69},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CatBomb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CatBomb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,135},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CatBomb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,201},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CatBomb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,267},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CatBomb_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CatBomb.png</string>
            <key>size</key>
            <string>{72,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a948c294dc5692b8a57b8e02b9d073:9fa5e31294c592c85ac7305f7f72d057:b17dc33be3d1ddb853064ea5745cb710$</string>
            <key>textureFileName</key>
            <string>CatBomb.png</string>
        </dict>
    </dict>
</plist>
