<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CatHorizontal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{87,67}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,68},{87,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CatHorizontal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{97,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,137},{97,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CatHorizontal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{91,65}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CatHorizontal.png</string>
            <key>size</key>
            <string>{99,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ed2f043e29ca792c5721b6c7ea1239d:9b4d9bae8d113c888cd789e36e1409f9:a1109c965ebda16e5eb06910bafc268e$</string>
            <key>textureFileName</key>
            <string>CatHorizontal.png</string>
        </dict>
    </dict>
</plist>
