<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChookHorizontal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,72},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChookHorizontal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{91,69}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{91,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChookHorizontal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,145},{83,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChookHorizontal.png</string>
            <key>size</key>
            <string>{93,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:337fcb5c14a6f62b2d559fdcb9b5e085:5225fc91af794990fc2534ede2375ede:8a794b99efd311a2b1b7ee7702d2814e$</string>
            <key>textureFileName</key>
            <string>ChookHorizontal.png</string>
        </dict>
    </dict>
</plist>
