<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChookVertical_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{149,1},{71,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChookVertical_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{71,85}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{76,1},{71,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChookVertical_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChookVertical.png</string>
            <key>size</key>
            <string>{221,87}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84a79e0cf2e77a9ca9bcaa5021b34e54:04d83f6fb017bf646aad5ced9336880b:9bbcd3c826ac99a7ae24880627aaaed9$</string>
            <key>textureFileName</key>
            <string>ChookVertical.png</string>
        </dict>
    </dict>
</plist>
