<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HippoVertical_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{69,81}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,88},{69,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HippoVertical_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{71,85}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{71,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HippoVertical.png</string>
            <key>size</key>
            <string>{73,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5856a7cb9aef4188afab3986b5a12100:d8634a57c6b03ae3fe4f557cda733bb1:a310f61d8e337a14e0987a551155c9b8$</string>
            <key>textureFileName</key>
            <string>HippoVertical.png</string>
        </dict>
    </dict>
</plist>
