<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HippoHorizontal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{81,71}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{90,1},{81,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HippoHorizontal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{87,67}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{87,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HippoHorizontal.png</string>
            <key>size</key>
            <string>{172,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de73c7e9a8cefa5196a8fea499ff25b1:f0d33523b0cd55d902451984c3b0ec19:99d4900b6cf959110e0560aa2908f7fb$</string>
            <key>textureFileName</key>
            <string>HippoHorizontal.png</string>
        </dict>
    </dict>
</plist>
